<fieldset class="fieldset">
	<legend class="fieldset-legend">Field title</legend>
	<label class="select">
		<i class="uil uil-file opacity-50"></i>
		<select class="" aria-label="Status">
			<option value="All">All</option>
			<option value="Open">Open</option>
			<option value="In">In Progress</option>
			<option value="Closed">Closed</option>
		</select>
		<!--  
					<div class="badge badge-primary badge-soft badge-xs">Optional</div>
					<div class="kbd">a</div>
				-->
	</label>
	<!-- <p class="fieldset-label">You can edit page title later on from settings</p> -->
	</fieldset>