<!--  Start: Order Table Filter Input -->
	<div id="bulk-actions-container"
		class="card bg-base-100 p-3 shadow-xl border-base-200/50 border absolute left-1/2 -translate-x-1/2 bottom-20 opacity-0 translate-y-4 data-[visible=true]:opacity-100 data-[visible=true]:translate-y-0 transition-all duration-200 ease-in-out"
		data-visible="false">
		<div class="flex gap-2 items-center justify-center">
			<p id="selected-items-count" class="text-sm font-semibold text-base-content/60 px-3">3 items selected</p>
			<button id="bulk-unselect" class="btn btn-outline">Unselect</button>
			<button id="bulk-action" class="btn btn-neutral">Action</button>
			<button id="bulk-import" class="btn btn-neutral btn-square">
				<i class="uil uil-import"></i>
			</button>
			<button id="bulk-more" class="btn btn-square">
				<i class="uil uil-ellipsis-v"></i></button>
		</div>
	</div>
