<!-- Filters -->
<div class="flex gap-4 items-center justify-end">

	<div class="max-w-56 flex-1">
		<load src="partials/components/inputSearch.html" />
	</div>
	
	<div class="max-w-32 flex-1">
		<!-- Note: this should use the Select Component withoun any label -->
		<select class="select w-full" aria-label="Status">
			<option value="All">All</option>
			<option value="Open">Open</option>
			<option value="In">In Progress</option>
			<option value="Closed">Closed</option>
		</select>
	</div>
	
	<!--  End: Order Table Filter Input -->
	
		<load src="partials/layout/filters-advanced.html" />
</div>