<div class="sticky bottom-0 bg-base-100">
	<div class="flex items-center justify-end self-end p-4 border-t border-base-200">
		<!--  Start: Order Table Pagination -->
		
		<div class="flex gap-1">
			<button aria-label="pagination-prev" class="btn btn-sm btn-square">
				<i class="uil uil-angle-left"></i>
			</button>
			
			<div class="flex gap-0.5">
				<button aria-label="pagination-1" class="btn btn-sm btn-square btn-neutral pointer-events-none">1</button>
				<button aria-label="pagination-2" class="btn btn-sm btn-square btn-ghost">2</button>
				<button aria-label="pagination-4" class="btn btn-sm btn-square btn-ghost">3</button>
				<button aria-label="pagination-5" class="btn btn-sm btn-square btn-ghost">4</button>
				<button aria-label="pagination-x"
					class="btn btn-sm btn-square btn-ghost btn-disabled !bg-transparent -mx-2">...</button>
				<button aria-label="pagination-9" class="btn btn-sm btn-square btn-ghost">9</button>
			</div>
			
			<button aria-label="pagination-next" class="btn btn-sm btn-square">
				<i class="uil uil-angle-right"></i>
			</button>
		</div>
		
		<!--  End: Order Table Pagination -->
	</div>
</div>