<header class="sticky top-0 bg-base-100 z-10">
	<div class="flex items-center justify-between gap-4 p-4 border-b border-base-300">
		<div class="flex justify-center items-center gap-4">
			<!-- Menu Toggle Button -->
			<label class="btn btn-square lg:hidden" aria-label="Leftmenu toggle" for="layout-sidebar-toggle-trigger">
				<i class="uil uil-bars"></i>
			</label>
			
			<div class="flex flex-col gap-1">
				<!-- Breadcrumbs -->
				<div aria-label="Breadcrumbs" class="breadcrumbs text-sm p-0 text-base-content/60">
					<ul>
						<li>Admins</li>
						<li>New</li>
					</ul>
				</div>
				<!-- Page Title -->
				<h3 class="text-2xl font-medium">New Admin</h3>
				
				</div>
			
		</div>
		<div aria-label="Actions" class="flex flex-row-reverse gap-2 items-center">
		
			<button class="btn btn-success min-w-24">
				Save
			</button>
			<a class="btn min-w-24" href="./index.html">
				Cancel
			</a>
			</div>
			</div>
</header>