<header class="sticky top-0 bg-base-100 z-10">
	<div class="flex items-center justify-between gap-4 p-4 border-b border-base-300">
		<div class="flex justify-center items-center gap-4">
			<!-- Menu Toggle Button -->
			<label class="btn btn-square lg:hidden" aria-label="Leftmenu toggle" for="layout-sidebar-toggle-trigger">
				<i class="uil uil-bars"></i>
			</label>
			
			<div class="flex flex-col gap-1">
				<!-- Breadcrumbs -->
				<div aria-label="Breadcrumbs" class="breadcrumbs text-sm p-0 text-base-content/60">
					<ul>
						<li>Nexus</li>
						<li>Ecommerce</li>
						<li>Orders</li>
					</ul>
				</div>
				<!-- Page Title -->
				<h3 class="text-2xl font-medium">Table View</h3>
				
			</div>
			
		</div>
		<div aria-label="Actions" class="flex flex-row-reverse gap-2 items-center">
		
			<!-- Primary Action -->
			<a class="btn btn-success" href="./form.html">
				<i class="uil uil-plus"></i>
				New
			</a>
		
			<!-- Dropdown Secondary Action -->
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button" class="btn">
					<i class="uil uil-down-arrow"></i>
					Download
					<i class="uil uil-angle-down"></i>
				</div>
				<ul tabindex="0" class="dropdown-content menu">
					<li><a>Download as JSON</a></li>
					<li><a>Download as CSV</a></li>
				</ul>
			</div>
			<!-- Seccondary Action -->
			<button class="btn">
				<i class="uil uil-file-import"></i>
				Import
			</button>
			
			</div>
			</div>
</header>