<div id="sidebar-menu">
	<a class="sidebar-menu-item" href="/index.html">
		<i class="uil uil-apps"></i>
		Home
	</a>
	<a class="sidebar-menu-item" href="/dashboard.html">
		<i class="uil uil-chart-line"></i>
		Dashboard
	</a>
	<a class="sidebar-menu-item" href="/form.html">
		<i class="uil uil-apps"></i>
		Form
	</a>

	<hr class="!my-2">
	
	<p class="sidebar-menu-title">Nexus</p>
	<div class="group collapse">
		<input aria-label="Sidemenu item trigger" class="peer" type="checkbox" name="sidebar-menu-parent-item" />
		<div class="collapse-title">
				<i class="uil uil-arrow-right"></i>
				<span class="grow">Other</span>
				<i class="uil uil-angle-down opacity-50"></i>
		</div>

		<div class="collapse-content">
			<div class="group collapse">
					<input aria-label="Sidemenu item trigger" class="peer" type="checkbox" name="sidebar-menu-parent-item" />
					<div class="collapse-title">
							<i class="uil uil-arrow-right"></i>
							<span class="grow">Dashboard</span>
							<i class="uil uil-angle-down opacity-50"></i>
					</div>
					<div class="collapse-content">
							<a class="sidebar-menu-item" href="./nexus-pages/dashboards-ecommerce.html">
								Ecommerce
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/dashboards-crm.html">
									<span class="grow">CRM</span>
									<div class="inline-flex gap-2">
											<div
													class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
													New
											</div>
									</div>
							</a>
					</div>
			</div>
			<p class="sidebar-menu-title">Apps</p>
			<div class="group collapse">
					<input
							aria-label="Sidemenu item trigger"
							class="peer"
							type="checkbox"
							name="sidebar-menu-parent-item" />
					<div class="collapse-title">
							<i class="uil uil-arrow-right"></i>
							<span class="grow">Ecommerce</span>
							<i class="uil uil-angle-down opacity-50"></i>
					</div>
					<div class="collapse-content">
							<a class="sidebar-menu-item" href="./nexus-pages/apps-ecommerce-orders.html">Orders</a>
							<a class="sidebar-menu-item" href="./nexus-pages/apps-ecommerce-products.html">
									Products
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/apps-ecommerce-sellers.html">
									Sellers
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/apps-ecommerce-customers.html">
									Customers
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/apps-ecommerce-shops.html">Shops</a>
					</div>
			</div>
			<a class="sidebar-menu-item" href="./nexus-pages/apps-file-manager.html">
					<i class="uil uil-arrow-right"></i>
					File Manager
			</a>
			<a class="sidebar-menu-item" href="./nexus-pages/apps-chat.html">
					<i class="uil uil-arrow-right"></i>
					Chat
			</a>
			<p class="sidebar-menu-title">Pages</p>
			<a class="sidebar-menu-item" href="./nexus-pages/landing.html">
					<i class="uil uil-arrow-right"></i>
					Landing
			</a>
			<div class="group collapse">
					<input
							aria-label="Sidemenu item trigger"
							class="peer"
							type="checkbox"
							name="sidebar-menu-parent-item" />
					<div class="collapse-title">
							<i class="uil uil-arrow-right"></i>
							<span class="grow">Auth</span>
							<i class="uil uil-angle-down opacity-50"></i>
					</div>
					<div class="collapse-content">
							<a class="sidebar-menu-item" href="./nexus-pages/auth-login.html">Login</a>
							<a class="sidebar-menu-item" href="./nexus-pages/auth-register.html">Register</a>
							<a class="sidebar-menu-item" href="./nexus-pages/auth-forgot-password.html">
									Forgot Password
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/auth-reset-password.html">
									Reset Password
							</a>
					</div>
			</div>
			<p class="sidebar-menu-title">UI Showcase</p>
			<div class="group collapse">
					<input
							aria-label="Sidemenu item trigger"
							class="peer"
							type="checkbox"
							name="sidebar-menu-parent-item" />
					<div class="collapse-title">
							<i class="uil uil-arrow-right"></i>
							<span class="grow">Components</span>
							<i class="uil uil-angle-down opacity-50"></i>
					</div>
					<div class="collapse-content">
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-accordion.html">
									Accordion
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-alert.html">Alert</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-avatar.html">Avatar</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-badge.html">Badge</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-breadcrumb.html">
									Breadcrumb
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-button.html">Button</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-countdown.html">
									Countdown
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-drawer.html">Drawer</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-dropdown.html">
									Dropdown
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-indicator.html">
									<span class="grow">Indicator</span>
									<div class="inline-flex gap-2">
											<div
													class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
													New
											</div>
									</div>
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-loading.html">Loading</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-menu.html">Menu</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-modal.html">Modal</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-pagination.html">
									Pagination
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-progress.html">
									Progress
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-step.html">Step</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-tab.html">Tab</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-table.html">
									<span class="grow">Table</span>
									<div class="inline-flex gap-2">
											<div
													class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
													New
											</div>
									</div>
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-timeline.html">
									Timeline
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-toast.html">Toast</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-components-tooltip.html">Tooltip</a>
					</div>
			</div>
			<div class="group collapse">
					<input
							aria-label="Sidemenu item trigger"
							class="peer"
							type="checkbox"
							name="sidebar-menu-parent-item" />
					<div class="collapse-title">
							<i class="uil uil-arrow-right"></i>
							<span class="grow">Forms</span>
							<i class="uil uil-angle-down opacity-50"></i>
					</div>
					<div class="collapse-content">
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-checkbox.html">Checkbox</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-fieldset.html">
									<span class="grow">Fieldset</span>
									<div class="inline-flex gap-2">
											<div
													class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
													New
											</div>
									</div>
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-file-input.html">
									File Input
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-input.html">Input</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-label.html">
									<span class="grow">Label</span>
									<div class="inline-flex gap-2">
											<div
													class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
													New
											</div>
									</div>
							</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-radio.html">Radio</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-range.html">Range</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-rating.html">Rating</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-select.html">Select</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-textarea.html">Textarea</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-toggle.html">Toggle</a>
							<a class="sidebar-menu-item" href="./nexus-pages/ui-forms-validator.html">
									<span class="grow">Validator</span>
									<div class="inline-flex gap-2">
											<div
													class="border-primary/20 bg-primary/10 text-primary rounded-box border px-1.5 text-[12px]">
													New
											</div>
									</div>
							</a>
					</div>
			</div>
			<div class="group collapse">
					<input
							aria-label="Sidemenu item trigger"
							class="peer"
							type="checkbox"
							name="sidebar-menu-parent-item" />
					<div class="collapse-title">
							<i class="uil uil-arrow-right"></i>
							<span class="grow">Charts</span>
							<i class="uil uil-angle-down opacity-50"></i>
					</div>
					<div class="collapse-content">
							<div class="group collapse">
									<input
											aria-label="Sidemenu item trigger"
											class="peer"
											type="checkbox"
											name="sidebar-menu-parent-item" />
									<div class="collapse-title">
											<span class="grow">Apex</span>
											<span
													class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
									</div>
									<div class="collapse-content">
											<a class="sidebar-menu-item" href="./nexus-pages/ui-charts-apex-area.html">
													Area
											</a>
											<a class="sidebar-menu-item" href="./nexus-pages/ui-charts-apex-bar.html">
													Bar
											</a>
											<a class="sidebar-menu-item" href="./nexus-pages/ui-charts-apex-column.html">
													Column
											</a>
											<a class="sidebar-menu-item" href="./nexus-pages/ui-charts-apex-line.html">
													Line
											</a>
											<a class="sidebar-menu-item" href="./nexus-pages/ui-charts-apex-pie.html">
													Pie
											</a>
									</div>
							</div>
					</div>
			</div>
			<p class="sidebar-menu-title">Other</p>
			<div class="group collapse">
					<input
							aria-label="Sidemenu item trigger"
							class="peer"
							type="checkbox"
							name="sidebar-menu-parent-item" />
					<div class="collapse-title">
							<i class="uil uil-arrow-right"></i>
							<span class="grow">Menu Levels</span>
							<i class="uil uil-angle-down opacity-50"></i>
					</div>
					<div class="collapse-content">
							<a class="sidebar-menu-item" href="#">Level 1a</a>
							<div class="group collapse">
									<input
											aria-label="Sidemenu item trigger"
											class="peer"
											type="checkbox"
											name="sidebar-menu-parent-item" />
									<div class="collapse-title">
											<span class="grow">Level 1b</span>
											<span
													class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
									</div>
									<div class="collapse-content">
											<a class="sidebar-menu-item" href="#">Level 2a</a>
											<div class="group collapse">
													<input
															aria-label="Sidemenu item trigger"
															class="peer"
															type="checkbox"
															name="sidebar-menu-parent-item" />
													<div class="collapse-title">
															<span class="grow">Level 2b</span>
															<span
																	class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
													</div>
													<div class="collapse-content">
															<a class="sidebar-menu-item" href="#">Level 3a</a>
															<a class="sidebar-menu-item" href="#">Level 3b</a>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
			<a class="sidebar-menu-item" href="https://google.com" target="_blank">
					<i class="uil uil-arrow-right"></i>
					External Links
			</a>
			<a class="sidebar-menu-item" href="#">
					<i class="uil uil-arrow-right"></i>
					<span class="grow">Label</span>
					<div class="inline-flex gap-2">
							<div
									class="bg-secondary text-secondary-content rounded-box ms-0 px-1.5 text-[12px]">
									+8
							</div>
					</div>
			</a>
			<a class="sidebar-menu-item" href="https://nexus.daisyui.com/docs" target="_blank">
					<i class="uil uil-arrow-right"></i>
					Documentation
			</a>
		</div>
	</div>
</div>