<!--  Start: Notification -->

<div class="dropdown dropdown-bottom z-50">
	<label tabindex="0" class="btn btn-square size-12 rounded-box bg-base-200/40 hover:bg-base-200/40 border-0">
		<i class="uil uil-bell"></i>
	</label>
	<div tabindex="0" class="dropdown-content bg-base-100 rounded-box card card-compact mt-5 w-60 p-2 shadow sm:w-84 z-50">
		<div class="flex items-center justify-between px-2">
			<p class="text-lg font-semibold">Notification Center</p>
			<button tabindex="0" class="btn btn-sm btn-circle btn-ghost" aria-label="Close">
				<i class="uil uil-times"></i>
			</button>
		</div>
		<hr class="border-base-300 -mx-2 my-2" />
		
		<div class="flex items-center justify-center">
			<div class="badge badge-sm badge-primary badge-soft">Today</div>
			</div>
		<div class="mt-2">
			<div class="rounded-box hover:bg-base-200/40 flex cursor-pointer gap-3 px-2 py-1.5 transition-all">
				<img class="bg-base-200 mask mask-squircle size-10 p-0.5" alt="" src="/images/avatars/4.png" />
				<div class="grow">
					<p class="text-sm leading-tight text-pretty">
						Customer has requested a return for item
					</p>
					<p class="text-base-content/60 text-xs leading-tight">
						1 Hour ago
					</p>
					</div>
					</div>
			<div class="rounded-box hover:bg-base-200/40 flex cursor-pointer gap-3 px-2 py-1.5 transition-all">
				<img class="bg-base-200 mask mask-squircle size-10 p-0.5" alt="" src="/images/avatars/5.png" />
				<div class="grow">
					<p class="text-sm leading-tight text-pretty">
						A new review has been submitted for product
					</p>
					<p class="text-base-content/60 text-xs leading-tight">
						1 Hour ago
					</p>
					</div>
					</div>
					</div>
		<div class="mt-2 flex items-center justify-center">
			<div class="badge badge-sm">Previous</div>
			</div>
		<div class="mt-2">
			<div class="rounded-box hover:bg-base-200/40 flex cursor-pointer gap-3 px-2 py-1.5 transition-all">
				<img class="bg-base-200 mask mask-squircle size-10 p-0.5" alt="" src="/images/avatars/1.png" />
				<div class="grow">
					<p class="text-sm leading-tight text-pretty">
						Prepare for the upcoming weekend promotion
					</p>
					<p class="text-base-content/60 text-xs leading-tight">
						2 Days ago
					</p>
					</div>
					</div>
			<div class="rounded-box hover:bg-base-200/40 flex cursor-pointer gap-3 px-2 py-1.5 transition-all">
				<img class="bg-base-200 mask mask-squircle size-10 p-0.5" alt="" src="/images/avatars/2.png" />
				<div class="grow">
					<p class="text-sm leading-tight text-pretty">
						Product 'ABC123' is running low in stock.
					</p>
					<p class="text-base-content/60 text-xs leading-tight">
						3 Days ago
					</p>
					</div>
					</div>
			<div class="rounded-box hover:bg-base-200/40 flex cursor-pointer gap-3 px-2 py-1.5 transition-all">
				<img class="bg-base-200 mask mask-squircle size-10 p-0.5" alt="" src="/images/avatars/3.png" />
				<div class="grow">
					<p class="text-sm leading-tight text-pretty">
						Payment received for Order ID: #67890
					</p>
					<p class="text-base-content/60 text-xs leading-tight">
						Week ago
					</p>
					</div>
					</div>
		</div>
		<hr class="border-base-300 -mx-2 mt-2" />
		<div class="flex items-center justify-between pt-2">
			<button class="btn btn-sm btn-ghost">Mark as read</button>
			<button class="btn btn-sm btn-soft btn-primary">View All</button>
		</div>
	</div>
</div>

<!--  End: Notification -->