<div class="h-18 shrink-0 p-3 flex items-center gap-2 w-full">
		<div class="dropdown dropdown-bottom w-full">
			<label tabindex="0"
				class="!h-auto w-full justify-between btn btn-ghost border-none rounded-box p-1.5 bg-base-200/40 hover:bg-base-200">
				<div class="flex items-center gap-1">
					<div aria-label="Avatar photo" class="avatar">
						<div class="mask mask-squircle w-9 h-9 bg-primary text-white !flex justify-center items-center">
							<span class="text-sm font-semibold w-full text-center">HG</span> 
						</div>
					</div>
					<div class="ml-1 flex flex-col items-start text-left">
						<p class="text-sm/tight font-semibold truncate max-w-[15ch] text-base-content">H. Granger</p>
						<p class="text-xs/none font-medium text-base-content/60">Admin</p>
					</div>
				</div>
				<i class="uil uil-angle-down text-xl/none opacity-50"></i>
			</label>
			<ul
					role="menu"
					tabindex="0"
					class="dropdown-content menu">
					<li>
							<div>
									<i class="uil uil-user"></i>
									<span>My Profile</span>
							</div>
					</li>
					<li>
							<div>
									<i class="uil uil-cog"></i>
									<span>Settings</span>
							</div>
					</li>
					<li>
							<div>
									<i class="uil uil-arrow-right"></i>
									<span>Notification</span>
							</div>
					</li>
					<li>
							<div>
									<i class="uil uil-arrow-right"></i>
									<span>Switch Account</span>
							</div>
					</li>
					<li>
							<div>
									<i class="uil uil-arrow-right"></i>
									<span>Help</span>
							</div>
					</li>
			</ul>
		</div>
	
		<div class="">
			<load src="partials/layout/nav/user-menu-notifications.html" />
		</div>
	
	</div>